/* COMMENTS */
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.hamburger-menu{
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right 0.7s;
}

.change .hamburger-menu{
  right: 33rem;
}

.line{
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.2);
}

.change .line{
  background-color: rgba(0,0,0,0.8)
}

.change .line-1{
  transform: rotate(45deg) translate(0.3rem,0.8rem);
}

.change .line-2{
  opacity: 0;
  visibility: hidden;
}

.change .line-3{
  transform: rotate(-45deg) translate(0.3rem,-0.8rem);
}

.hamburger-menu span{
  position: absolute;
  left: 5rem;
  width: 10rem;
  height: 4rem;
  background-color: #e2b646;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Baloo da 2', serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}

.change .hamburger-menu:hover span{
  opacity: 1;
  visibility: visible;
}

.hamburger-menu span::before{
  content:"";
  position: absolute;
  border-left: 1rem solid transparent;
  border-right: 1rem solid #e2b646;
  border-bottom: 1rem solid transparent;
  border-top: 1rem solid transparent;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
}

.header{
  width: 100%;
  height: 100vh;
  position: relative;
  perspective: 100rem;
  overflow: hidden;
}

.img-wrapper{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  overflow: hidden;
}

.img-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: scale 25s;
}

@keyframes scale {
  0%{
    transform: scale(1.3);
  }
  100%{
    transform: scale(1);
  }
}

.banner{
  position: absolute;
  top: 30%;
  left: 15%;
}

.banner h1{
  font-family: 'Baloo Da 2', serif;
  font-size: 8rem;
  font-weight: 300;
  color: #fff;
  width: 50%;
  line-height: 9rem;
  letter-spacing: 0.2rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.4);
  opacity: 0;
  animation: moveBanner 1s 0.5s forwards;
}

.banner p{
  font-family: 'Josefin Slab', serif;
  font-size: 4rem;
  color: #fff;
  width: 70%;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.4);
  opacity: 0;
  animation: moveBanner 1s 0.7s forwards;
}

.banner button{
  width: 25rem;
  height: 7rem;
  background-color: #c29525;
  border: none;
  font-family: 'Mulish', serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.2);
  box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.4);
  cursor: pointer;
  opacity: 0;
  animation: moveBanner 1s 0.9s forwards;
}

@keyframes moveBanner {
  0%{
    transform: translateY(40rem) rotateY(-20deg);
  }
  100%{
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.sidebar{
  width: 40rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -40rem;
  background-color: #fff;
  transition: right 0.5s;
  z-index: 100;
}

.change .sidebar{
  right: 0;
}

.menu{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.menu-item{
  text-align: center;
}

.menu-link{
  font-family: 'Baloo Da 2', serif;
  font-size: 4rem;
  color: #555;
  position: relative;
}

.last-menu-link{
  font-size: 2.5rem;
}

.menu-link::before{
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  color: #c29525;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease-in-out;
}

.menu-link:hover::before{
  width: 100%;
}

.social-media{
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media i{
  font-size: 2.2rem;
  margin: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #777;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.social-media i:hover{
  background-color: #c29525;
}

.social-media img{
  width:22%;
  height: 1.7rem;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.social-media img:hover{
  opacity: 0.7;
}

/* CAROUSEL */
.carousel {
    width: 80vw;
    height: 80vh;
    position: absolute;
    top:10vh;
    left:10vw;
    background-color: #000;
    opacity:0;
    visibility: hidden;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
    display: none;
}

.carousel .carousel-item-hidden {
    display: none;
    animation: fadeOut 1.5s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.carousel .carousel-item-visible {
    display: block;
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.carousel-item{
  width:100%;
  height:100%;
  position: relative;
}
.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.carousel-item::before{
  content:'';
  position: absolute;
  top: 10%;
  left: 10%;
  width: 0%;
  height: 0.3rem;
  background-color: #fff;
  animation: slideWidth 0.5s 0.7s forwards;
}

@keyframes slideWidth {
  0%{
    width: 0;
  }
  100%{
    width: 80%;
  }
}

.carousel-item::after{
  content:'';
  position: absolute;
  top: 5%;
  left: 85%;
  width: 0.3rem;
  height: 0%;
  background-color: #fff;
  animation: slideHeight 0.5s 0.7s forwards;
}

@keyframes slideHeight {
  0%{
    height: : 0;
  }
  100%{
    height: 85%;
  }
}

.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel-actions button {
    border-radius: 50px;
    background-color: #fff;
    color: #222;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: all 0.2s;
}

.carousel .carousel-actions button:hover {
  background-color: #222;
  color: #fff;
}

.carousel .carousel-actions button.carousel-button-prev {
    margin-left: 20px;
}

.carousel .carousel-actions button.carousel-button-next {
    margin-right: 20px;
}

@keyframes carouselFadeIn{
  0%{
      opacity:0;
      visibility: hidden;
  }
  100%{
      opacity:1;
      visibility: visible;
  }
}

.img-info{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:10%;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.2);
    max-width: 73%;
    padding: 0 2rem;
    color: white;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.4);
}

.img-info h2{
    font-family: 'Baloo Da 2', serif;
    font-size: 5rem;
    font-weight: 300;
    /* line-height: 6rem; */
    letter-spacing: 0.2rem;
    opacity: 0;
    animation: moveImgInfo 1s 0.4s forwards;
}

.img-info p{
    text-indent: 2rem;
    text-align: justify;
    font-family: 'Josefin Slab', serif;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    opacity: 0;
    animation: moveImgInfo 1s 0.8s forwards;
}

.description p:last-child{
    text-indent: 0;
    margin-top: 2rem;
    font-size: 3.5rem;
    font-weight: 500;
}

@keyframes moveImgInfo {
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}

/* BOIS COMPOSITE*/
.main-sections{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 6rem 0;
}
.main-sections .title{
    display: flex;
    align-items: center;
    margin-bottom: 6rem;
}
.main-sections h2{
    font-family: 'Baloo Da 2', serif;
    font-size: 5rem;
    color:#333;
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 0.8;
}
.cols{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(250,250,250,1);
    padding: 2em;
    margin-bottom: 8rem;
    border-radius: 0.5rem;
}
.col{
    flex-basis: 32%;
    padding: 3em 2em;
}
.col h3{
    font-family: 'Josefin Slab', serif;
    font-size: 2.5rem;
    color:#444;
    text-transform: uppercase;
    margin-top: 0em;
    letter-spacing: 1px;
    opacity: 0.8;
}
.col p{
    font-family: 'Mulish', serif;
    font-size: 2.2rem;
    color: #555;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin-top:0.5em;
}

span.highlight{
    font-size: 2.3rem;
    opacity: 0.8;
}

.bois-roches-pics{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  padding:1em;
  background-color: rgba(250,250,250,0.5);
}

.bois-roches-pics .pic-wrapper{
  width:25%;
  height:300px;
  padding: 0.5rem;
}

.bois-roches-pics .pic-wrapper img{
  width: 100%;
  height:100%;
  object-fit: cover;
  vertical-align: top;
}

.play-audio{
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s;
}
.play-audio:hover{
    opacity: 1;
}

/* CONTACT */
.contact{
  width:100%;
  padding: 8rem 0;
  background-color:  rgba(250,250,250,1);
}

.contact-form{
  max-width: 550px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow:0 0 10px rgba(0,0,0,0.13)
}

.contact-details{
  width:100%;
  font-size: 1.3rem;
  background: rgba(57,183,221,1);
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  border: none;
}

.contact-cols{
    display: flex;
    /* width: 100%; */
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg{
  width: 48%;
}

.input-fields .input,
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #666;
  width: 100%;
}

.msg textarea{
  height: 212px;
  resize: none;
}

::-webkit-input-placeholder{
  color: #c5ecfd;
}

::-moz-input-placeholder{
  color: #c5ecfd;
}

::-ms-input-placeholder{
  color: #c5ecfd;
}

.msg .btn{
  letter-spacing: 1px;
  width:100%;
  background: #39b7dd;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
}

@media (max-width:800px){
  .contact{
    padding: 2rem;
    background-color:  #fff;
  }
}

@media (max-width:600px){
  .contact-cols{
    flex-direction: column;
  }
  .msg textarea{
    height: 120px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
  .contact{
      padding: 0;
  }
}

@media (max-width:475px){
  .contact-details{
      flex-direction: column;
  }
  .contact-details p{
    margin: 0.5rem 0;
  }
  .contact{
      padding: 2rem 0 3rem;
  }
}

/* MAP */
.maps{
  width:100%;
  padding: 8rem 0;
  background-color:  rgba(250,250,250,1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.map{
  width:100%;
}
.main-sections .map h2{
  font-family: 'Baloo Da 2', serif;
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
  line-height: 1;
  text-align: center;
}
.main-sections .map p{
  font-family: 'Mulish', serif;
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.iframe-wrapper{
  width:472px;
  max-width:95%;
  height:354px;
  margin: 1rem auto;
}

iframe{
  width:100%;
  height:100%;
}

.map-ltk iframe{
  /* opacity: 0; */
}

@media (max-width: 1100px){
  .maps{
    flex-direction: column;
  }
  .map{
    margin: 2em 0;
  }
}

/* FOOTER */
.footer{
  width: 100%;
  height: 8rem;
  background-color: #17181b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content{
  width: 60%;
  display: flex;
  justify-content: center;
}
.copyright{
  font-family: 'Baloo Da 2',serif;
  font-size: 1.6rem;
  color: #a7a7a7;
  margin-right: 1rem;
}
.social-list i{
  font-size: 2rem;
  color: #a7a7a7;
  opacity:0.9;
  transition: opacity 0.2s;
}
.social-list:hover i{
  opacity:1;
}


/* MEDIA QUERIES*/
@media(max-width:1400px){
  .banner h1{
    font-size: 6rem;
    line-height: 7rem;
  }
  .banner p{
    font-size: 3rem;
  }
  .banner button{
    width: 20rem;
    height: 5rem;
    font-size: 1.6rem;
  }
  .menu-link{
    font-size: 3rem;
  }
  .img-info h2{
      font-size: 4rem;
  }
  .img-info p{
      font-size: 2.5rem;
  }
  .description p:last-child{
    font-size: 3rem;
  }
  .bois-roches-pics .pic-wrapper{
    width:33.3333%;
    height:350px;
    padding: 0.5rem;
  }
}

@media(max-width:1200px){
  .bois-roches-pics .pic-wrapper{
    height:300px;
  }
}

@media(max-width:1000px){
  .banner h1{
    font-size: 5rem;
    line-height: 6rem;
  }
  .banner p{
    font-size: 2.5rem;
  }
  .banner button{
    width: 18rem;
    height: 4rem;
    font-size: 1.5rem;
  }
  .img-info h2{
      font-size: 3rem;
  }
  .img-info p{
      font-size: 2rem;
  }
  .description p:last-child{
    font-size: 2.5rem;
  }
  .social-media{
    flex-direction: row;
    justify-content: center;
  }
  .cols{
    flex-direction: column;
  }
  .main-sections h2{
    font-size: 3.5rem;
  }
  .col h3{
    font-size: 2rem;
  }
  .col p{
    font-size: 1.9rem;
    letter-spacing: 1px;
  }
  span.highlight{
      font-size: 2.0rem;
  }
  .bois-roches-pics .pic-wrapper{
    width:50%;
    height:320px;
  }
  .maps{
    padding: 4rem 0;
  }
}

@media(max-width:824px){
  .carousel .carousel-actions button {
      font-size: 15px;
      width: 25px;
      height: 25px;
  }
  .main-sections{
      padding: 6rem 3rem 0;
  }
  .cols{
    padding: 0em;
    margin-bottom: 4rem;
  }
  .col{
      padding: 2em 1.5em;
  }
}

@media(max-width:700px){
  .banner h1{
    font-size: 4rem;
    line-height: 5rem;
  }
  .banner p{
    font-size: 2rem;
  }
  .description p:last-child{
    font-size: 2rem;
  }
  .img-info{
      top:15%;
      transform: translateY(0);
      /* left:15%;
      /* max-width: 69%; */
      padding: 0 0.5rem;
  }
  .img-info h2{
      font-size: 2.5rem;
  }
  .img-info p{
      font-size: 1.5rem;
  }
  .description p:last-child{
    font-size: 2rem;
  }
  .carousel .carousel-actions button {
      font-size: 12px;
      width: 20px;
      height: 20px;
  }
  .carousel .carousel-actions button.carousel-button-prev {
      margin-left: 10px;
  }

  .carousel .carousel-actions button.carousel-button-next {
      margin-right: 10px;
  }
  .main-sections h2{
    font-size: 3rem;
  }
  .col h3{
    font-size: 1.5rem;
  }
  .col p{
    font-size: 1.7rem;
    letter-spacing: 0.5px;
  }
  span.highlight{
      font-size: 1.8rem;
  }
  .bois-roches-pics .pic-wrapper{
    height:270px;
  }
  .main-sections{
      padding: 1rem 3rem 0rem;
  }
  .main-sections .title{
    margin-bottom: 0.5rem;
  }
  .play-audio{
      transform: scale(0.8);
  }
  .maps{
    padding: 2rem 0;
  }
}

@media(max-width:600px){
  .bois-roches-pics .pic-wrapper{
    width:100%;
    height:400px;
  }
}

@media(max-width:500px){
  html{
    font-size: 45%;
  }
  .sidebar{
    width:100%;
    right:-100%;
  }
  .change .hamburger-menu{
    right: 5rem;
  }
  .change .hamburger-menu:hover span{
    opacity: 0;
    visibility: hidden;
  }
  .play-audio{
      transform: scale(0.7);
  }
  .bois-roches-pics .pic-wrapper{
    height:350px;
  }
}
@media(max-width:400px){
  .main-sections{
      padding-left: 1rem;
      padding-right: 1rem;
  }
  .play-audio{
      transform: scale(0.6);
  }
  .bois-roches-pics .pic-wrapper{
    height:250px;
  }
}
@media(max-width:350px){
  .play-audio{
      transform: scale(0.4);
  }
  .main-sections h2{
    font-size: 2rem;
  }
}

@media(max-width:320px){
  .main-sections h2{
    font-size: 1.5rem;
  }
  .bois-roches-pics .pic-wrapper{
    height:220px;
  }
  .carousel .carousel-actions button {
      font-size: 10px;
      width: 15px;
      height: 15px;
  }
  .carousel .carousel-actions button.carousel-button-prev {
      margin-left: 5px;
  }
  .carousel .carousel-actions button.carousel-button-next {
      margin-right: 5px;
  }
}

/* lANDSCAPE MEDIA QUERIES */
@media(max-width:840px) and (orientation: lANDSCAPE){
  html{
    font-size: 7px;
  }
}
@media(max-width:740px) and (orientation: lANDSCAPE){
  html{
    font-size: 6px;
  }
}
